#title{
	text-align:center;
}

#options{
	width:800px;
	margin: 50px auto;

}
#seq1Input, #seq2Input{
	width:790px;


}

#matchScore, #mismatchScore, #gapPenalty{
	width:114px;

}

#submitButton{
	float:right;
	margin-right:5px;
}



#display{
	width:800px;
	margin: 50px auto;
	
	overflow-x:auto;
	
}
#display div{
	text-align:center;
	padding-bottom:10px;
	
}
#matrix{
	width:800px;
	max-height:600px;
	margin: 0 auto 20px;	
	overflow-x:auto;

}
#matrix table{
	border-collapse:collapse;
	margin: 0 auto;
	
}
#matrix table td{
	text-align:right;
	border:1px solid #ccc;
	
	height:30px;
}


#matrix table .seq1, #matrix table .seq2{
	text-align:center;
	font-weight:bold;
	
}

.traced{
	background-color:rgb(73, 247, 73);
		
}