html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #333333; }

.dynamicProgrammingMatrixWrapper td {
  position: relative; }

.dynamicProgrammingMatrixWrapper input[type=text], .dynamicProgrammingMatrixWrapper .dynamicProgrammingMatrixCell {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #9EDBFA;
  color: #555555; }

.dynamicProgrammingMatrixWrapper > tbody > tr:nth-child(1) td input[type=text], .dynamicProgrammingMatrixWrapper > tbody > tr > td:nth-child(1) input[type=text] {
  background-color: #333333;
  color: #9EDBFA;
  font-weight: bold; }

.dynamicProgrammingMatrixWrapper .dynamicProgrammingMatrix {
  position: absolute;
  top: 0;
  left: 0; }

.dynamicProgrammingMatrixWrapper .dynamicProgrammingMatrixCell.correct {
  background-color: green; }

.dynamicProgrammingMatrixWrapper .dynamicProgrammingMatrixCell.wrong {
  background-color: red; }

body {
  text-align: center; }

h1 {
  font-size: 3em;
  margin: 30px 0;
  text-align: center; }

h2 {
  font-size: 2em;
  margin: 30px 0;
  text-align: center; }

.left {
  width: 49%;
  float: left; }

.right {
  width: 49%;
  float: right; }

.dynamicProgrammingMatrixWrapper {
  margin: 0 auto; }

#testing {
  display: none;
  border-left: 1px solid #9EDBFA; }
