// Reset
@import "partials/meyer-reset";

// Base
@import "partials/base";

// Partials
@import "partials/dynamic-programming-matrix";


body{
    text-align: center;
}


input{
    text-transform: uppercase;
}


.left{
    width: 49%;
    float: left;
}
.right{
    width: 49%;
    float: right;
}


#testing{
    display: none;
    border-left: 1px solid $color-theme-2;
}

.alignmentContainer{
    
    line-height: 20px;

    > div{        
        display: flex;
        justify-content: center;
        margin: 10px 0 30px;
    }

    .alignmentSelectorLabel{
        text-align: right;
        .alignmentSelectorRadio{
            margin-right: 30px;
        }
    }
    .alignment{
        text-align: left;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 20px;
        letter-spacing: 5px;
    }
}



.alignmentInput{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 5px;

    &.wrong{
        background-color: red;
    }
    &.correct{
        background-color: green;
    }
}

$topBarHeight: 50px;
$sidebarWidth: 300px;

#topBar{
    background-color: $gray-darker;
    overflow: auto;
    width:100vw;
    height: $topBarHeight;
    position: fixed;
    top:0;
    left:0;
    color: $gray-light;
    text-align: left;

    h1{
        font-size: 2rem;
        padding: 5px;
    }
}

.sidebar{
    float:left;
    width:$sidebarWidth;
    height: calc(100vh - #{$topBarHeight});
    background-color: $gray-base;
    position: fixed;
    top: $topBarHeight;
    left:0;
    
    color: $gray-lighter;
    font-family: sans-serif;

    .sidebarTabHeader{
        background-color: $gray-darker;
        font-size: 1.5rem;
        padding: 10px;
        text-align: left;

        a{
            color: $gray-lighter;
            
            &:hover{
                color: scale-color( $gray-lighter, $lightness: -35%);
            }
        }
    }
    .sidebarTabContent{
        display: none;
        background-color: $gray-dark;
        padding: 20px 10px;
    }

    #help{
        display: block;
    }
}

#wrapper{
    float:left;
    width: calc(100vw - #{$sidebarWidth});
    margin: $topBarHeight 0  0 $sidebarWidth
}