// Reset
@import "partials/meyer-reset";

// Base
@import "partials/base";

// Partials
@import "partials/dynamic-programming-matrix";


body{
    text-align: center;
}


input{
    text-transform: uppercase;
}



.alignmentContainer{
    
    line-height: 20px;

    > div{        
        display: flex;
        justify-content: center;
        margin: 10px 0 30px;
    }

    .alignmentSelectorLabel{
        text-align: right;
        .alignmentSelectorRadio{
            margin-right: 30px;
        }
    }
    .alignment{
        text-align: left;
        font-family: $font-family-monospace;
        font-size: 20px;
        letter-spacing: 5px;
    }
}



.alignmentInput{
    font-family: $font-family-monospace;
    font-size: 20px;
    letter-spacing: 5px;

    &.wrong{
        background-color: red;
    }
    &.correct{
        background-color: green;
    }
}

$topBarHeight: 50px;
$sidebarWidth: 300px;
$sidebarTabHeaderHeight:40px;

#topBar{
    background-color: $jet;
    overflow: auto;
    width:100vw;
    height: $topBarHeight;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    color: $color-theme-4;
    text-align: left;
    
    h1{
        font-size: 1.5rem;
        line-height: $topBarHeight;
        padding: 0 20px;
    }
}

.sidebar{
    float:left;
    width:$sidebarWidth;
    height: calc(100vh - #{$topBarHeight});
    background-color: $jet;
    position: fixed;
    top: $topBarHeight;
    left:0;
    z-index: 10;

    color: $gray-lighter;

    .sidebarTabHeader{
        background-color: $oil;
        text-align: left;
        font-size: 1.5rem;
        line-height: $sidebarTabHeaderHeight;
        height: $sidebarTabHeaderHeight;
        padding-left: 10px;
        border-bottom: 1px solid $steel;
        cursor: pointer;
        a{
            color: $smoke;
            text-decoration: none;
        }
        &:hover{
            background-color: scale-color( $oil, $lightness: -35%);
            transition: background-color, $transition-hover;
            a{ 
                color: scale-color( $smoke, $lightness: -35%);
            }
        }
        &.active{ 
            background-color: mix($color-theme-3, $oil, 10%);
            
            a{
                color: $color-theme-3;
            }

            &:hover{
                background-color: scale-color(mix($color-theme-3, $oil, 10%), $lightness: -35%);
                a{ 
                    color: scale-color( $color-theme-3, $lightness: -35%);
                }
            }
        }

    }
    .sidebarTabContent{
        display: none;
        background-color: $tuatara;
        padding: 20px 10px;
        // min-height: calc(100vh - #{$topBarHeight} - #{$sidebarTabHeaderHeight} - #{$sidebarTabHeaderHeight} - 40px);
    }
    #help{
        display: block;
    }
}

#wrapper{
    float:left;
    width: calc(100vw - #{$sidebarWidth});
    margin: $topBarHeight 0  0 $sidebarWidth;

    h2{
        height: $sidebarTabHeaderHeight;
        line-height: $sidebarTabHeaderHeight;
        font-size: 1.5rem;
        background-color: $color-theme-4;
        border-bottom: 1px solid $iron;
    }

    h2 + div{
        padding: 20px;
    }
}

#inputTableContainer{
    // margin: 20px 0 0 20px;
}





#testing{
    @extend #wrapper;

    display: none;
    position: absolute;
    background-color: orange;
}

.sequence{
    font-family: $font-family-monospace;
    letter-spacing: 5px;
}

#settings{
    input{
        font-family: $font-family-monospace;
        font-size: 1rem;
    }
}

#stuck{
    margin-top: 30px;
    a{
        text-decoration: none;
    }
}

#intro{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(#000, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    .message{
        width:600px;
        padding: 100px;
        background-color: #fff;
        text-align: left;

        h3{
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        h4{
            font-size: 1.2rem;
            margin: 1.5rem 0 0.5rem;
        }
        p{
            margin: 0.5rem 0;
        }
        ul{
            margin-left: 20px;
            list-style-type: circle;
        }
    }
}