// Reset
@import "partials/meyer-reset";

// Base
@import "partials/base";

// Partials
@import "partials/dynamic-programming-matrix";


body{
    text-align: center;
}

h1{
    font-size: 3em;
    margin: 30px 0;
    text-align: center;
}
h2{
    font-size: 2em;
    margin: 30px 0;
    text-align: center;
}


.left{
    width: 49%;
    float: left;
}
.right{
    width: 49%;
    float: right;
}


.dynamicProgrammingMatrixWrapper{
    margin: 0 auto;
}

#testing{
    display: none;
    border-left: 1px solid $color-theme-2;
}

.alignmentContainer{
    // margin: 20px 0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 1em;
}