$matrix-cell-width : 50px !default;
$matrix-cell-border : 1px solid $color-theme-2 !default;

.dynamicProgrammingMatrixWrapper {
    td{
        position: relative;
    }
    input[type=text], .dynamicProgrammingMatrixCell{
        width: $matrix-cell-width;
        height: $matrix-cell-width;
        text-align: center;
        background-color: $gray-lighter;
        border: $matrix-cell-border;
        color: $gray;
    }
    // first row and first column
    >tbody > tr:nth-child(1) td, >tbody > tr > td:nth-child(1){
        input[type=text]{
            background-color: $gray-dark;
            color: $color-theme-2; // not working on safari for some reason
            font-weight: bold;
        }
    }
    // the actual matrix
    .dynamicProgrammingMatrix{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .dynamicProgrammingMatrixCell.correct{
        background-color: green;
    }
    .dynamicProgrammingMatrixCell.wrong{
        background-color: red;
    }
    .dynamicProgrammingMatrixCell.traced{
        background-color: blue;
    }

    .tracebackSelect{
        position: absolute;
        top: 1px;
        left: 1px;
        appearance: none;
        background-color: #aaa;
        border:none;
        font-size: 10px;
        font-family: "Lucida Console", Monaco, monospace;
        border-radius: 0;
        padding: 4px;

        &.correct{
            background-color: darken(green, 5%);
        }
        &.wrong{
            background-color: darken(red, 7%);
        }
    }


}


