$matrix-cell-width : 50px !default;
$matrix-cell-border : 1px solid $color-theme-2 !default;

.dynamicProgrammingMatrixWrapper {
    margin: 0 auto;

    td{
        position: relative;

        &.irrelevant{
            opacity:0.35;
        }
    }
    input[type=text], .dynamicProgrammingMatrixCell{
        width: $matrix-cell-width;
        height: $matrix-cell-width;
        text-align: center;
        background-color: $gray-lighter;
        border: $matrix-cell-border;
        color: $gray;
    }
    // first row and first column
    >tbody > tr:nth-child(1) td, >tbody > tr > td:nth-child(1){
        input[type=text]{
            background-color: $gray-dark;
            color: $color-theme-2; // not working on safari for some reason
            font-weight: bold;
        }
    }
    // the actual matrix
    .dynamicProgrammingMatrix{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .dynamicProgrammingMatrixCell.correct{
        background-color: green;
    }
    .dynamicProgrammingMatrixCell.wrong{
        background-color: red;
    }
    .dynamicProgrammingMatrixCell.tracebackActive{
        background-color: blue;
    }
    .dynamicProgrammingMatrixCell:disabled{
        background-color: $gray-light;
        opacity: .5;
    }

    .tracebackSelect{
        position: absolute;
        top: 1px;
        left: 1px;
        width: $matrix-cell-width / 3.5;
        height: $matrix-cell-width / 3.5;
        background-color: #aaa;
        cursor: pointer;
        outline: none;

        &.correct{
            background-color: darken(green, 5%);
        }
        &.wrong{
            background-color: darken(red, 7%);
        }

        > div{
            display:none;
        }
    }

}



#tracebackSelectOptions{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    
    width: 100px;
    height: 100px;
    background-color: orange;
}
